.gallery {
  height: 100vh;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

/*.galleryRail {
  display: flex;
  transition: all .3s ease;
}

.galleryRail figure {
  display: block;
  margin: 0 auto;
}

.galleryRail figure.big {
  width: 800px;
  min-width: 800px;
}

div.gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 2400px;
  height: 800px;
}*/

div.small {
  display: flex;
  flex-direction: column;
  width: 50vh;
  height: 100vh;
}

figure.big {
  width: 100vh;
  height: 100vh;
}

figure.small {
  width: 50vh;
  height: 50vh;
}

#img1 {
  background-image: url(../img/img1.jpg);
}

#img2 {
  background-image: url(../img/img2.jpg);
}

#img3 {
  background-image: url(../img/img3.jpg);
}

#img4 {
  background-image: url(../img/img4.jpg);
}

#img5 {
  background-image: url(../img/img5.jpg);
}

#img6 {
  background-image: url(../img/img6.jpg);
}
