* {
  overflow-y: hidden;
}

.menu {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
  z-index: 1;
}

.menu a {
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  color: white;
  text-decoration: none;
}

.header,
.footer {
  width: 100%;
  height: 60px;
  background-color: black;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
}

.header {
  display: flex;
  justify-content: center;
}

.footer {
  box-shadow: 0 -2px 4px 0 rgba(0,0,0,.5);
}

.header div,
.footer div {
  display: flex;
  height: 60px;
  align-items: center;
}

.header div {
  justify-content: space-between;
  align-items: center;
}

.footer div {
  justify-content: center;
}

.logo {
  background-image: url(../img/logo.png);
  width: 276px;
  height: 41px;
  background-repeat: no-repeat;
  display: block;
  background-size: contain;
}

.galleryRail {
  display: block;
  width: 240vh;
  /*height: 95vh;*/
  overflow: scroll;
  overflow-y: hidden;
  position: absolute;
  margin-top: 10vh;
}

div.gallery {
  display: flex;
  overflow: auto;
  width: 240vh;
  /*height: 95vh;*/
}

figure {
  display: inline-block;
  background-size: cover;
}

figure.big {
  width: 80vh;
  height: 80vh;
}

figure.small {
  width: 40vh;
  height: 40vh;
}

div.small {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80vh;
}
