* {
  overflow-y: hidden;
}

.menu {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
  z-index: 1;
}

.menu a {
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  color: white;
  text-decoration: none;
}

.header,
.footer {
  width: 100%;
  height: 60px;
  background-color: black;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
}

.header {
  display: flex;
  justify-content: center;
}

.footer {
  box-shadow: 0 -2px 4px 0 rgba(0,0,0,.5);
}

.header div,
.footer div {
  display: flex;
  height: 60px;
  align-items: center;
}

.header div {
  justify-content: space-between;
  align-items: center;
}

.footer div {
  justify-content: center;
}

.logo {
  background-image: url(../../img/logo.png);
  width: 276px;
  height: 41px;
  background-repeat: no-repeat;
  display: block;
  background-size: contain;
}

.galleryRail {
  overflow: auto;
}

div.gallery {
  height: 80vh;
  display: flex;
  flex-direction: row;
  position: absolute;
  justify-content: flex-start;
  overflow: hidden;
  margin-top: 10vh;
  z-index: 0;
}

figure {
  display: inline-block;
  background-size: cover;
}

figure.big {
  width: 80vh;
  height: 80vh;
}

figure.small {
  width: 40vh;
  height: 40vh;
}

div.small {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80vh;
}


#img1 {
  background-image: url(../../img/img1.jpg);
}

#img2 {
  background-image: url(../../img/img2.jpg);
}

#img3 {
  background-image: url(../../img/img3.jpg);
}

#img4 {
  background-image: url(../../img/img4.jpg);
}

#img5 {
  background-image: url(../../img/img5.jpg);
}

#img6 {
  background-image: url(../../img/img6.jpg);
}
